[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qrcode = "*"
python-dotenv = "*"
selenium = "*"
youtube-dl = "*"
clipboard = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
